*{
    background-color: #222222;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.name{
    font-size: 96px;
    font-weight: normal;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.name .blue{
    color: #0093C9;
}
.name .red{
    color: #EA0029;
}

h2{
    font-size: 48px;
    font-weight: normal;
    text-align: center;
}

h2 .blue{
    color: #0093C9;
}
h2 .red{
    color: #EA0029;
}

a{
    text-decoration: none;
    font-weight: normal;
    margin-left: 67px;
    margin-right: 46px;
}

a:hover .blue{
    color: #0093C9;
}

a:hover .red{
    color: #EA0029;
}

nav{
    position: relative;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    right: 0;
    width: 100%;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li{
    display: flex;
    align-items: center;
}

nav>ul>li>a{
    font-size: 40px;
    font-weight: normal;
}

.top-bar{
    width: 100%;
    height: 120px;
    position: sticky;
    background-color: #222222;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    vertical-align: center;
    justify-content: left;
    z-index: 1;
    transition: top 0.3s;
}

.logo-and-name{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.bar-contents{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}


video{
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 98%;
    position: fixed;
}

.games-page{
    top: 100vh;
    position: relative;
    display: flex;
    flex-flow: column;
}

.games-page>div>a>figure{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.games-page>div>a>figure>img{
    display: block;
    margin: auto;
}

.right-game, .left-game{
    display: flex;
    margin-bottom: 150px;
}

.right-game{
    flex-direction: row-reverse;
}

.left-game-image{
    float: left;
    margin-right: 50px;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-game-image{
    margin-left: 50px;
    margin-right: 10vw;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-game-title-and-description, .right-game-title-and-description{
    display: flex;
    flex-direction: column;
    width: 45vw;
    justify-content: center;
}

.right-game-title-and-description{
    align-self: right;
}

.left-game-title, .right-game-title{
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}

.left-game-title{
    text-align: left;
}

.right-game-title{
    text-align: right;
}

.left-game-description, .right-game-description{
    font-size: 24px;
    margin-top: 0;
    text-align: justify;
}

.form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #212121EE;
    padding: 30px;
    border-left: 5px solid #EA0029;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: white;
    width: 100%;
    background-color: #0093C980;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #0093C9;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #0093C980;;
    color: white;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #0093C9;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #0093C9;
    padding: 10px;
    color: #222222;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #0093C9;
    color: #0093C9;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #EA0029);
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #EA0029;
    font-weight: bold;
    background: #222222;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #EA0029;
    color: #222222;
  }

  .reset-button{
    border: none;
    width: 100%;
    height: 100%;
  }

  #hidden_iframe{
    display: none;
  }

  .dev-page{
    position: relative;
    top: 100vh;
}

.dev-page{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.about-me{
    float: left;
    margin-right: 250px;
}